<?php

# Redis configuration

$wgObjectCaches['redis'] = [
    'class' => 'RedisBagOStuff',
    'servers' => [ '{REDIS_CONTAINER}:6379' ],
];
$wgMainCacheType = 'redis';
$wgSessionCacheType = 'redis';
$wgMainStash = 'redis';

$wgJobTypeConf['default'] = [
    'class' => 'JobQueueRedis',
    'redisServer' => '{REDIS_CONTAINER}:6379',
    'redisConfig' => [],
    'claimTTL' => 3600,
    'daemonized' => true
];
